*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.questions{
    display: none;
}
.questions{
    text-align: center;
}
.high-score{
    display: none;
    
}

#start-quiz{
    border: 10px; 
    border-color: black;
    text-align: center;
}

.page-title{
    color: blueviolet;
}
.start{
    background-color: blueviolet;
    color: white;
}

.question-text{
    text-align: center;
}
.answers{
    align-items: center;
    background-color: blueviolet;
    color: white;  
}
.countdown{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
    align-items: right;
}

